:root {
  --color-primary:    #0f2f49;
  --color-secondary:  #239fe6;
}

.App {
  text-align: center;
}

header {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 2rem;
}

.check {
  text-align: center;
  margin-bottom: 3rem;
}

.container {
  margin: 0 auto;
  max-width: 75rem;
  padding: 2rem;
}