@import url('https://fonts.googleapis.com/css2?family=Inter:slnt,wght@-10..0,100..900&display=swap');

html {
  font-feature-settings: 'ss01', 'ss02', 'case', 'salt';
}

body {
  margin: 0;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #BEBEBE;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #BEBEBE;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #BEBEBE;
}